{% extends "base.html" %}

{% block title %}Book | Axis & Co.{% endblock %}

{% block content %}
<div class = "booking-page">
    <div class = "booking-from-container">
        <h1>Book a Consultation</h1>

        {% if error %}
            <p>{{ error }}</p>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="form-row">
                <label for="full_name">Full name</label>
                <input
                    type="text"
                    id="full_name"
                    name="full_name"
                >
            </div>
            <div class="form-row">
                <label for="email">Email</label>
                <input
                    type="email"
                    id="email"
                    name="email"
                >
            </div>
                <button type="submit">Submit</button>
        </form>
{% endblock %}